<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.ourchat">

    <uses-permission android:name="android.permission.READ_PRIVILEGED_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".OurApplication"
        android:allowBackup="true"
        android:icon="@drawable/ourphoto"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ourphoto"
        android:supportsRtl="true"
        android:theme="@style/Theme.OurChat"
        android:usesCleartextTraffic="true">
        <activity android:name=".ui.activity.SplashActivity" android:exported="true" android:theme="@style/splash_theme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.MainActivity"
            android:exported="true">
        </activity>

        <receiver
            android:name="io.rong.push.notification.PushMessageReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="io.rong.push.intent.MESSAGE_ARRIVED" />
                <action android:name="io.rong.push.intent.MESSAGE_CLICKED" />
                <action android:name="io.rong.push.intent.THIRD_PARTY_PUSH_STATE" />
            </intent-filter>
        </receiver>

        <service
            android:name=".ui.services.ConnectService"
            android:exported="false"></service>
    </application>

</manifest>